build
polyiou_wrap.cxx
.idea/DOTAPreprocess.iml
*.so
*.jpg
**/.idea/
*pyc
examplesplit
__pycache__/
.ipynb_checkpoints/
Task1_merge/*.txt
Task1/*.txt
restoredexample/*
/example/images
/example/labelTxt
/MiniTrainV1.1
/MiniTrainV1
MiniTrainV1.1.zip
MiniTrainV1.zip
/NewSplitFull
/HalfScale_BridgeTrainFull
